body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #222;
    background-color: beige;
    min-width: 320px;
}
.1{
        display: block;
        width: 100%;
        border-bottom-width: 0px;
        border-left-color: rgb(34,34,34);
        border-left-width: 0px;
        border-right-color: rgb(34,34,34);
        border-right-width:0px;
        border-top-color: rgb(34,34,34);
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(34,34,34);
        display: block;
        width: 720px;
        offset: 36px;
    
    
    }
    
    .2{
        display: block;
        width: 100%;
        border-bottom-width: 0px;
        border-left-color: rgb(34,34,34);
        border-left-width: 0px;
        border-right-color: rgb(34,34,34);
        border-right-width:0px;
        border-top-color: rgb(34,34,34);
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(34,34,34);
        display: block;
        width: 720px;
        offset: 36px;
    
    
    }
    
    .3{
        display: block;
        width: 100%;
        border-bottom-width: 0px;
        border-left-color: rgb(34,34,34);
        border-left-width: 0px;
        border-right-color: rgb(34,34,34);
        border-right-width:0px;
        border-top-color: rgb(34,34,34);
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(34,34,34);
        display: block;
        width: 720px;
        offset: 36px;
    
    
    }
    
    .4{
        display: block;
        width: 100%;
        border-bottom-width: 0px;
        border-left-color: rgb(34,34,34);
        border-left-width: 0px;
        border-right-color: rgb(34,34,34);
        border-right-width:0px;
        border-top-color: rgb(34,34,34);
        border-top-width: 0px;
        box-sizing: border-box;
        color: rgb(34,34,34);
        display: block;
        width: 720px;
        offset: 36px;
    
    
    }
    <center><strong><h1 style="color:blue;">ABOUT US</h1></strong></center>
        <br>
        <br>
        <center><p>Made in Heaven is a small event management compnay started by a group of friends in 2016.
            we are the most experienced team of event management specialist in the country. 
        We serve all the events including from engagement to the sendoff party.
    <br> Headquartered in Banagalore witha deep bench of accomplisged team members and partners working nation-wide, we can quickly scale toa wide range of client needs and budgets.
    <br> we execute all projects, big and small, with the same level of expertise, decication ,commitmnet and passion.
        </p>
        <h2>Our Values</h2>
        <h3>Great People</h3>
        <p>We hire the best people. we can foster their passion and empower them to make decisions. in return, they give us and our clients their loyalty, and go all out for evry event</p>
        <br>
        <br>
        <h3> Transparent success</h3>
        <p>Our events are about you, our clients. so we do the work we make you look great, and you get the credit.</p>
        <br>
        <br>
        <h3>Uncompromising Standards</h3>
        <p> We believe that incredible performance leads to extraordinary results. We are our own toughest critics.</p>
    <br>
    <br>
    <h3>Cost Consciousness</h3> 
<p>We understand that fiscal accountability makes us better partners to our clients and results in a smarter event. The path to sustainability is paved with responsibility and diligence.</p>
</center>
<center> <h2>Our Team</h2></center>