*{
    padding: 0;
    margin: 0;

}

body{
    box-sizing: border-box;

}

.menubar{
    background: grey;
    text-align: center;

}

.menubar ul{
    display:inline-flex;
    color: #fff;
    list-style:none;
    
}

.menubar ul li{
    width:120px;
    margin: 10px;
    padding:15px;

}

.menubar ul li a
{
    text-decoration: none;
    color:white;
}

 .menubar ul li:hover{
background: transparent;
border-radius: 5px;
}

.menubar .fa
{
margin-right:8px;
}

.submenu1{
    display: none;
}

.menubar ul li:hover .submenu1
  {
        display: block;
        position: absolute;
        background:grey;
        margin-top: 15px;
        margin-left: -15px;
    }
    .menubar ul li:hover .submenu1 ul
    {
        display: block;
        margin: 10px;
    }
    .menubar ul li:hover .submenu1 ul li
    {
     width: 150px;
     padding: 10px;
     border-bottom: 1px dotted white;
     background: transparent;
    }
    .menubar ul li:hover .submenu1 ul li:last-child
    {
        border-bottom: none;
    }
    .menubar ul li:hover .submenu1 ul li a:hover
    {
        color: blue;
    }